* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
html,
body {
  background-color: #0b0b0f;
  color: white;
}
/*NAVBAR*/
nav {
  padding: 25px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #0b0b0f;
}
.logo {
  font-size: 22px;
  font-weight: 600;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
nav a {
  text-decoration: none;
  color: #eaeaea;
  font-size: 15px;
  transition: 0.3s;
}
nav a:hover {
  color: #38bdf8;
}
nav img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

/*HERO*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 20px;
  gap: 20px;
}
.hero h1 {
  font-size: 65px;
  font-weight: 700;
  line-height: 1.2;
}
.hero span {
  background: linear-gradient(90deg, #7c7cff, #38bdf8);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero p {
  margin-top: 20px;
  font-size: 18px;
  color: #b5b5b5;
  max-width: 650px;
}
/*SECTIONS*/
.section {
  padding: 120px 20px;
  text-align: center;
}
.section h2 {
  font-size: 40px;
  margin-bottom: 50px;
}

/*SKILLS*/
.skills {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}
.skills div {
  padding: 20px 30px;
  background-color: #111118;
  border-radius: 10px;
  border: 1px solid #1f1f2a;
  transition: 0.3s;
}
.skills div:hover {
  transform: translateY(-8px);
  box-shadow: 0px 20px 40px rgba(56, 189, 248, 0.3);
}

/*PROJECTS*/
.projects {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.card {
  width: 260px;
  padding: 25px;
  background: #111118;
  border-radius: 12px;
  border: 1px solid #1f1f2a;
  text-align: center;
  transition: 0.3s ease;
}
.card a {
  color: #38bdf8;
  text-decoration: none;
  font-size: 14px;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 20px 40px rgba(56, 189, 248, 0.3);
}
.card h3,
a {
  margin-bottom: 10px;
  font-size: 18px;
  color: rgb(1, 163, 238);
  text-decoration: none;
}
.card p {
  font-size: 16px;
  color: #b5b5b5;
}

/*CONTACT*/

#contact p {
  font-size: 18px;
  color: #b5b5b5;
  margin-top: 10px;
}
.link {
  display: flex;
  justify-content: center;
  gap: 30px;
}
/*FOTTER*/
footer {
  padding: 40px;
  text-align: center;
  color: #777;
}
/*RESPONSIVE*/
@media (max-width: 600px) {
  nav {
    padding: 20px;
    flex-direction: column;
    gap: 15px;
  }

  .hero {
    text-align: center;
  }
  .hero h1 {
    font-size: 40px;
  }
  section {
    padding: 80px 20px;
  }
  .section h2 {
    font-size: 30px;
  }
  .card {
    width: 90%;
  }
}
